.product-loader-container{
    min-width: 200px !important;
    max-width: 230px !important;
    padding: 20px !important;
    border-radius: 15px;
    flex: 1;
    user-select: none !important;
    background-color: rgb(255, 255, 255);
    padding: 10px;
   
    .product-loader-img{
        height: 150px !important;
        width: 100%;
        mix-blend-mode: multiply;
        background-color: #a1a1a125;
    }
    
    
    p{
        width: 100%;
        padding: 10px 0px ;
        background-color: #a1a1a125;
        margin-top: 10px !important;
    }
    }
    .product-loader-btn{
        
       width: 100%;
     height: 40px !important;
       background-color: #a1a1a125;
       margin-top: 20px !important;
    }
    
    