*{
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;

  button:focus{
    box-shadow: none !important;
  }
  input:focus{
    box-shadow: none !important;

  }
}

body {
  

  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100vw !important;
  overflow-x: hidden !important;






}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
